<%- include('../includes/head.ejs') %>
</head>

<body class="detail">
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <h1><%= product.title %></h1>
        <hr>
        <div>
            <img class="bookCover" src="<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <h2 class="thePrice">₹<%= product.price %></h2>
        <div class="detailBox"> 
        <p class="theDetail"><%= product.detail %></p>
        </div>
        <%- include('../includes/add-to-cart.ejs') %>
    </main>
    <%- include('../includes/end.ejs') %>